---
layout: layout
---
<article class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

            <div id='tag_cloud'>
                <% site.categories.map(function(category){ %>
                <a href="#<%= category.name %>" title="<%= category.name %>" rel="<%= category.length %>"><%= category.name %></a>
                <% }) %>
            </div>

            <% site.categories.map(function(category){ %>
              <div class="one-tag-list">
                  <div class="fa fa-briefcase tag-icon" id="<%= category.name %>">
                      <span class="tag-text"><%= category.name %></span>
                  </div>
                  <% category.posts.map(function(post){ %>
                    <div class="post-preview">
                        <a href="<%- config.root %><%- post.path %>">
                            <h2 class="tag-post-title"><%- post.title || "Untitled" %></h2>
                            <% if (post.subtitle && post.subtitle.length) { %>
                            <h3 class="tag-post-subtitle"><%- post.subtitle %></h3>
                            <% } %>
                        </a>
                    </div>
                    <hr>
                <% }) %>
              </div>
            <% }) %>
        </div>
    </div>
</article>
